/* HOMEPAGE */

.home {
  overflow-y: hidden;
}
.backgroundimg {
  position: relative;
  width: 100%;
  height: 1020px;
}
.logo {
  z-index: 2;
  position: absolute;
  left: 70px;
  top: 25px;
}
.line {
  position: absolute;
  background-color: black;
  margin-top: 89px;
  margin-left: 70px;
  max-width: 1780px;
  width: 100%;
  height: 1px;
}
.center-logo {
  position: absolute;
  margin-top: 384px;
  margin-left: 1076px;
}
.addresumebtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 40%;
  max-width: 464px;
  width: 100%;
  height: 60px;
  background-color: black;
  z-index: 4;
}
.addresumebtn a {
  color: white;
  font-size: 25px;
}

/* Personal Info */
.main-info {
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
}
.info-left {
  width: 60%;
  background-color: #f9f9f9;
  min-height: 1020px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.info-box {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.back-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}
.info-header {
  max-width: 799px;
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 12px;
}
.info-header::after {
  content: " ";
  max-width: 798px;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
}
.info-form {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin-left: 100px;
  margin-top: 68px;
}
.fullname {
  max-width: 845px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.name {
  width: 45%;
}
.abt-mail-phone {
  margin-top: 60px;
  height: 482px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.next-btn {
  margin-left: 86%;
}
